$sidebar-header-color: #F8E9E9;
$sidebar-font-color: white;
$sidebar-bg-color: #A0A0A0;

//main colours
$body-bg-color: #fff;
$body-color: #000;

//footer colours
$footer-bg-color: #F8E9E9;
$footer-color: #000;

//lightbox
$border-bg-color: #A0A0A0;
